.contactForm {
  background-color: #e9e3cb;
  box-shadow: 0em 0 1em #bcdeff;
  height: 100%;
}

.contactForm input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #bcdeff;
}

.contactForm textarea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #bcdeff;
}

.contactForm input:focus {
  background-color: transparent;
  /* border: none; */
  box-shadow: none;
}

.contactForm button {
  background-color: #bcdeff;
  /* font-size: large; */
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  border: none;
}

.contactForm button:hover {
  color: #4488dd;
  background-color: #bcdeff;
}

.contactForm button:after {
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease;
}

.contactForm button:hover:after {
  width: 100%;
  background: #4488dd;
}