.contactInfo-container {
  /* border: 2px green solid; */
  height: 100%;
  box-shadow: 0em 0 1em #ef8354;
}

.center-icon {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

p {
  text-align: start;
  margin-bottom: 0;
  padding: auto;
}

svg {
  display: block;
  /* width: 50%; */
  height: auto;
}