.person-container .card {
  padding: 0%;
  background-color: transparent;
  border: none;
  box-shadow: 0 0 1rem #ef8354;
  /* margin-top: 5rem; */
  background-color: #f7f2b5;
  height: auto;
}

.person-container img {
  margin: auto;
  height: auto;
  width: 70%;
  border-radius: 10%;
  display: block;
  /* transform: translateY(-5rem); */
  box-shadow: 0 0 0.5rem grey;
}

.person-container .card-myBody {
  /* transform: translateY(-3rem); */
}