* {
  margin: 0px;
  padding: 0px;
}

#root {
  background-color: #fdfced;
  display: flex;
  flex-direction: column;
  /*  
    --c1: #ffd500;
    --c2: #cdefff;
    --c3: #4488dd;
    --c4: #ff77aa;
    
    --_g: calc(2.9*var(--s)) calc(2.5*var(--s)) 
      radial-gradient(45% 25%,var(--c1) 60%,#0000 101%);
    background:
      0 var(--s)/var(--_g), var(--s) 0/var(--_g),
      radial-gradient(50% 50%,var(--c2) 60%,var(--c3))
       calc(var(--s)/2) calc(var(--s)/2)/var(--s) var(--s),
      linear-gradient(60deg,var(--c1) 10%, var(--c2) 50%) 
       0 0/calc(2*var(--s)); */
  /*


  
    --s: 40px;  control the size 
    --c1: #ffd500;
    --c2: #abcdef;
    
    background:
      conic-gradient(at 50% 25%,var(--c2) 25%,#0000 0)
       calc(var(--s)/-4) calc(var(--s)/-2),
      conic-gradient(at 25% 25%,var(--c1) 25%,#0000 0 75%,var(--c2) 0)
       calc(var(--s)/4) calc(var(--s)/-4),
      conic-gradient(from -90deg at 75% 25%,var(--c2) 75%,var(--c1) 0);
    background-size: var(--s) var(--s);
  
  
 

  
    /* --s: 20px; 
    
  
  
  /* background-color: #abcdef; */
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
  height: 100vh;
  overflow: auto;
  font-family: "Montserrat Alternates", sans-serif;
  /* background-image: url(./components/images/islamic-new-year-pattern-background.jpg);
  background-size: 300px; */
}

/* ////////////////////////////   Recipe-View   /////////////////////////////// */
.recipe-view-container {
  background-color: rgba(243, 222, 129, 0.201);
  background-size: cover;
}

.recipe-title {
  padding-top: 20px;
  margin-bottom: 20px;
}

.recipe-sub-title {
  font-size: 15px;
  padding: 0px 50px 0px;
}

.recipe-middle {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.recipe-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.recipe-facts h4 {
  font-size: 12px;
  margin: 0px;
}

.recipe-ingredients {
  padding: 0px 0px 0px;
}

.recipe-img {
  max-width: 650px;
  border-radius: 10px;
}

.recipe-instructions {
  margin-bottom: 40px;
}

.recipe-instructions ul {
  list-style: none;
}

.recipe-instructions p {
  margin-bottom: 5px;
}

/* ////////////////////////////   end: Recipe-View   /////////////////////////////// */
.navbar {
  /* control the size */
  /* --s: 15px; 
  
  --_g: #0000 83%,#b09f79 85% 99%,#0000 101%;
  background:
    radial-gradient(27% 29% at right ,var(--_g)) calc(var(--s)/ 2) var(--s),
    radial-gradient(27% 29% at left  ,var(--_g)) calc(var(--s)/-2) var(--s),
    radial-gradient(29% 27% at top   ,var(--_g)) 0 calc(var(--s)/ 2),
    radial-gradient(29% 27% at bottom,var(--_g)) 0 calc(var(--s)/-2)
    #476074;
  background-size: calc(2*var(--s)) calc(2*var(--s));
   */
  background-image: url(./components/images/islamic-new-year-pattern-background.jpg);
  background-size: 300px;
}

.page-title {
  margin: 1em;
  font-family: "Playfair Display SC", serif;
  font-size: 3em;
  transition: 0.4s;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: "";
  display: flex;
  height: 2em;
  width: 130%;
  position: absolute;
  background: #ffd500;
  background-image: linear-gradient(135deg,
      #ffd500 0%,
      #ffd500 50%,
      #abcdef 100%);
  transform: rotate(-2deg);
  top: -0.3em;
  left: -0.5em;
  border-radius: 28% 25% 20% 24%;
}

@media screen and (max-width: 700px) {
  .highlight-container:before {
    background-image: linear-gradient(135deg,
        #ffd500 0%,
        #abcdef 40%,
        #abcdef 100%);
  }

  .page-title {
    font-size: 1em;
    opacity: 0;
  }
}

.app-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  justify-content: space-between;
}

td {
  padding-right: 1rem;
}